.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    background-color: rgb(2, 2, 54);
    padding:0.5%;
}

.iconos{
    margin-top: -7px;
    display: flex;
    flex-direction: row;
    gap: 10px;       
}

.iconos i{
    color:rgb(218, 218, 218);
}

.iconos i:hover{
    color: white;
}

p{  
   padding-top: 15px;
    font-style:oblique;
    font-weight: 500;
    font-size: 1.2em;
    color:rgb(218, 218, 218);
}

