    
    <div class="footer">         
        <p>  © 2022 | by Nahuel Nakamura </p>
        <div class="iconos">
            <ul class="navbar-nav mr-auto iconos">
                <li class="nav-item">
                <a href="https://www.linkedin.com/in/nahuel-nakamura-6553a6235/" target="_blank" class="nav-link waves-effect waves-light">
                    <i class="grey-text fab fa-linkedin fa-2x"></i>
                </a>
                </li>
                <li class="nav-item">
                <a href="https://github.com/nfnakamura" target="_blank" class="nav-link waves-effect waves-light">
                    <i class="grey-text fab fa-github fa-2x"></i>
                </a>
                </li>
            </ul>
        </div>
    </div>

