
  
  <div class="card mat-card" id="first-card">
    <div class="contenedor">  
      <figure>
        <div id="profile-background"><img id="info-back-img" [src]="miPorfolio.backImage"></div>
        <div class="capa">
          <h2 *ngIf="load"> {{miPorfolio.nombre}}<span>  {{miPorfolio.apellido}}</span></h2>
          <p>Web Developer </p>         
        </div>
      </figure> 
    </div>  

       <div id="info" style="padding: 16px">
        <div id="info-img">
           <img id="info-user-img" class="profile-image" [src]="miPorfolio.image">
          <div *ngIf="userLogged|async" class="btn-edit" (click)="editarInfo()"><i class="fa fa-pen btn-right"></i></div>
        </div>
        <div id="info-data">
          <div>
            <h1 id="info-name">{{miPorfolio.nombre}} {{miPorfolio.apellido}}</h1>
            <div id="info-position">{{miPorfolio.position}}</div>
            <div id="info-contact">
              <span id="info-ubication">{{miPorfolio.ubication}} </span>
              <span><a (click)="infoContacto()">Información de contacto</a></span>
            </div>
          </div>
     
        
        </div>

        <div  *ngIf="userLogged|async" id="info-actions">
      
          <button *ngIf="muestraAgregaSeccion; else cerrarAgregarSeccion" type="button" class="btn btn-outline-primary botonAgrega" (click)="agregarSeccion()">Añadir Sección</button>
          <ng-template #cerrarAgregarSeccion><button type="button"  class="btn btn-outline-danger botonAgrega"(click)="cancelaAgregar()">Cancelar Añadir</button></ng-template>
        </div>         
          <div *ngIf="agregaSeccion" class="card agregar-seccion">
             <ul class="list-group list-group-flush">
              <li (click)="agregarExperiencia()" class="list-group-item">Experiencia</li>
              <li (click)="agregaEducacion()" class="list-group-item">Educación</li>
              <li (click)="agregaHabilidad()" class="list-group-item">Habilidad</li>
              <li  (click)="agregaProyecto()"class="list-group-item">Proyecto</li>              
            </ul>
          </div>

        
       
      <div class="overlay" *ngIf="editaInfo">
          <form class="editForm">

              <h4>Editar información</h4>
              <div>
                <label>Nombre</label>
              </div>  
                <input class="form-control" type="text" name="nombre" [(ngModel)]="nombre">
            
              <div>
                <label>Apellido</label>
              </div>  
                <input class="form-control"  type="text" name="apellido" [(ngModel)]="apellido">
              
              <div>
                <label>Trabajos</label>
              </div>
                <input class="form-control"  type="text" name="trabajos" [(ngModel)]="trabajos">
              
              <div>
                <label>Lugar de residencia</label>
              </div>  
                <input class="form-control"  type="text" name="lugar" [(ngModel)]="lugar">
                

                <div class="editarImg">
                  <label for="">Imagen de perfil</label>
                </div>  
                  <input type="file" accept=".png, .jpg, .jpeg" name="imagen" (change)="cargarImagen($event)">  
                
                  <div class="editarImg">
                    <label for="">Banner</label>
                  </div>  
                    <input type="file" accept=".png, .jpg, .jpeg" name="imagen" (change)="cargarBanner($event)">  
                    


              <div class="botones">
                <input (click)="aceptarEdicion()" value="Aceptar" class="btn btn-success botones" type="submit">
                <input (click)="cancelarEdicion()"  value="Cancelar" class="btn btn-danger botones" type="submit">
              </div>

              <div class="alert-container" *ngIf="mostrarAlert">
                <p id="alert">Debe completar al menos un campo para aceptar la edición</p>
              </div>

          </form>
      </div>
     

      </div>
  </div>

