
<div class="card mat-card">
  <div class="card-titles">
    <h2>Logros</h2>
  <div *ngIf="userLogged|async" class="btn-edit"(click)="agregarProy()"> <i class="fa fa-plus btn-right"></i></div>    
  </div>


  <div class="achivements">
    <div class="titulo">  
      <h3 class="data-proyectos">{{proyectosLista.length}} </h3>    
      <div class="project-title">
          <h3 class="data-proyectos">Proyectos</h3>
      </div>
    </div> 
    
  
    <div class="project-container">
      <ul class="project-list">
        <li *ngFor="let proyect of proyectosLista; let i = index" >
          <div class="proyecto-titulo-icono">
            <a target="_blank" href="{{proyect.link}}"><h2 class="titulo-proyecto">{{proyect.format}} - {{proyect.name}}</h2></a>             
            <i *ngIf="userLogged|async" (click)="editarProyecto(i)" class="fa fa-pen btn-right btn-edit" ></i>  
            <i *ngIf="userLogged|async" (click)="borrarProyecto(i)" class="fas fa-trash-alt btn"></i>
           </div>
          <a target="_blank" href="{{proyect.link}}"><p>-<span style="font-style: oblique;">{{proyect.link}}</span>-</p></a>                             
          <p>{{proyect.description}}</p>   
        </li>
      </ul>          
    </div>
  </div>

<!-------------------------------------- AGREGA PROYECTO ------------------------->
<div class="overlay" *ngIf="agregaProyecto">
 
  <form class="agregar-proyecto" >
    <h4>Agregar Proyecto</h4>
    <div>
      <label>Formato del proyecto*</label>
    </div>  
      <input 
      class="form-control input-agregar"
      type="text" 
      name="formatoProyecto" 
      [(ngModel)]="formatoProyecto" 
      autofocus>    
    <div>
      <label>Nombre del proyecto*</label>
    </div> 
      <input type="text"
      class="form-control input-agregar" 
      name="nombreProyecto" 
      [(ngModel)]="nombreProyecto">  
      <div>
        <label>Link del proyecto</label>
      </div> 
        <input type="text"
        class="form-control input-agregar"
         name="linkProyecto" 
         [(ngModel)]="linkProyecto">  
    <div>
      <div id="titulo-textarea">
        <label>Breve descripción del proyecto:</label>
      </div>
      <textarea  
      class="form-control"
      id="text-area" 
      cols="35" 
      rows="5" 
      name="descripcionProyecto" 
      [(ngModel)]="descripcionProyecto"></textarea>
    </div>
    
    <div class="alert-container" *ngIf="mostrarAlert">
      <p id="alert">Complete los campos obligatorios(*)</p>
    </div>

    <div class="botones">
      <input class="btn btn-success botones" type="submit" value="Agregar" (click)="aceptarProy()">      
      <input class="btn btn-danger botones" type="submit" value="Cancelar" (click)="cancelarProy()"> 
    </div>

  </form>

</div>

 
 
</div>
  

