.mat-card {   
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
}
.mat-card#first-card {
    padding: 0;
}

.achivements{
    display: block;
}

.titulo{
    display:flex;
}

.project-container{
    margin-top: 1%;

}

#text-area{
    margin:1%;
}

.botones{
    display:flex;
    justify-content: space-around;
    
}

.agregar-proyecto h4{
 text-align: center;
 margin-bottom: 4%;
}

.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.agregar-proyecto{  

    display:flex;
    flex-direction: column;    
    justify-content: center;  
    width: 500px;
    padding: 3%;   
    border-radius: 2%;
    background: white;  
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
}


.agregar-proyecto div{
    padding-bottom:2%;
    padding-top: 2%;
}



#titulo-textarea{  
    padding-bottom: 1%;    
}


#alert{
    color: red;
    font-weight: bold;
    text-align: center;
}

#mostrarMas{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(82, 81, 81);
    border-radius: 100%;
    padding-bottom: 0.2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0% ;
}

#mostrarMas:hover{
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 100%;
    padding-bottom: 0.2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0% ;
}


.project-list{
    display: flex;
    flex-direction: column;
    gap:20px;
}

ul li a{
    text-decoration: none;
    color: black;
}


.titulo-proyecto{
    font-size: 1.7em;
}

.proyecto-titulo-icono{
    display:flex;
    align-items: center;
    gap:5px;  
}

.btn-edit{
    align-self: center;
}

.fa-trash-alt{
    color: rgb(224, 6, 6);
    align-self: center;
    border-radius: 100%;
}


.fas:hover{
    cursor:pointer;
    border-radius: 100%;
    background-color: rgb(224, 6, 6);
}

.proyecto-titulo-icono i:hover{
    color: white;
    cursor:pointer;
}



.validacion-borrar{
    display:flex;
    flex-direction: column;
    border: solid 1px rgba(0, 0, 0, 0.76);
    padding:2%;
}





@media screen and (max-width: 600px){
  
    .agregar-proyecto{  

        display:flex;
        flex-direction: column;    
        justify-content: center;  
        width: 250px;
        padding: 3%; 
        border-radius: 2%;   
        background: white;      
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    }

    #text-area {
        width:100%;
    }
   

}